node_modules/
dist/
font-extract/
cloudflared.exe
/*.png
*.log
.wrangler/
.DS_Store
assets/brand-cover.webp
assets/cham-holding-logo-vector.svg
assets/cham-holding-logo.png
assets/test-logo.svg
assets/yamen-portrait-final.webp
assets/icons/direction-top-right-icon.svg
assets/icons/facebook-app-round-icon.svg
assets/icons/facebook-square-icon.svg
assets/icons/ig-instagram-icon.svg
assets/icons/sharing-icon.svg
